.page {

}

.content-section {
    padding: 0 24px;
}

.header {
    display: grid;
    /* grid-template-columns: 1fr 163px 1fr; */
    grid-template-columns: 2.7fr 1fr 2.7fr;
    padding-top: 92px;
    padding-bottom: 93px;
}

.header__menu {
    align-self: center;
}

.header__menu-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    list-style-type: circle;
}

.header__menu-item_no-bullit {
    list-style: none;
}

.header__menu-item_active {
    text-decoration: none;
}

.header__menu-link {
    font-weight: normal;
    font-size: 18px;
    line-height: auto;
}

.header__logo {
    justify-items: center;
    justify-self: center;
}

.header__logo-image {
    height: 103px;
    width: 136px;
}


.address {
    font-size: 18px;
    line-height: 24.3px;
}

.header__address {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.address-box {
    grid-column: 7 / -1;
    display: grid;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255 / 0.1);
}

.cover__title {
    font-weight: bold;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 165px;
}

.aligned-text {
    padding-left: 50px;
}

.aligned-text_center {
    justify-self: center;
}

.aligned-text_right {
    justify-self: end;
}